<div id="{{element.containerId}}" style="height: 600px">
</div>

<script>
{
    let elem = document.getElementById("{{element.containerId}}");
    let font_family = window.getComputedStyle(elem,null).getPropertyValue("font-family");

    let layout = Object.assign({}, 
                               {{element.get_json_dump("layout")}},
                               {
                                font: {family: font_family},
                                hoverlabel: {font: {family: font_family}}
                               });

    Plotly.newPlot("{{element.containerId}}",
                   {{element.get_json_dump("data")}},
                   layout,
                   {{element.get_json_dump("config")}});
};
</script>
