language : python
dist: bionic

sudo: required

addons:
    chrome: stable

services:
  - docker

python:
  - "2.7"
  - "3.6"

matrix:
  fast_finish: true

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install pep8


install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt
  - wget https://chromedriver.storage.googleapis.com/$(wget https://chromedriver.storage.googleapis.com/LATEST_RELEASE -q -O -)/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - export PATH=$PATH:$PWD

script:
  - make build
  - make lint
  - make install
  - make test
  - make doc
