{% macro header() -%}
    <title>{{title}}</title>

    {% for element in header_elements %}
    <{{element.tag}}
    {% for key, value in element.attributes %}
      {% if value %}
        {{key}}='{{value.format(root_folder=root_folder)}}'
      {% else %}
        {{key}}
      {%endif%}
    {% endfor %}
    >
        {{element.content}}
    </{{element.tag}}>
    {% endfor %}
{%- endmacro %}

{% macro resource(name) -%} {{root_folder + '/resources/' + name }} {%- endmacro %}
{% macro index_page() -%} {{root_folder}}/index.html {%- endmacro %}

{% macro banner() -%}
{% if banner_image %}
{{ caller(banner_filename) }}
{% endif %}
{%- endmacro %}

{% macro content() -%}
{% for element in page.contents %}
    {% include element.get_template() %}
{% endfor %}
{%- endmacro %}

{% macro iter_sub_menu(subelements) -%}
{% for subitem in subelements %}
{{ caller(root_folder + '/' + subitem.location, subitem.title) }}
{% endfor %}
{%- endmacro %}

{% macro iter_menu() -%}
{% for element in menu %}
    {{ caller(root_folder + (('/' + element.location) if element.location else ''),
                  element.title,
                  element.current_page,
                  element.icon,
                  element.subelements) }}
{% endfor %}
{%- endmacro %}
