node_modules
src/webviz_default_theme/resources/css/theme.css
src/webviz_default_theme/resources/js/menu.js
src/webviz_default_theme/resources/js/fontawesome.js
src/webviz_default_theme/resources/js/solid.js
